/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.GlobalBody {
  background: url("https://drive.google.com/file/d/15-iz88Lj0WupjAjc2uyJdtaeLPvg_QAD/view?usp=sharing");
  background-size: cover;
  margin: 0;
  height: 100vh;
}

h1
{
    color:white;
    padding:15px;
}

main
{
    position:relative;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
